body {
    font-family: "Arial Black", Gadget, sans-serif ;
    background-image: url("https://st.depositphotos.com/1000388/3726/i/950/depositphotos_37265319-stock-photo-white-lace-texture-background.jpg");
    text-align: center;
    color: black;
    font-size: 250%;
    -webkit-text-stroke-color: pink;
    -webkit-text-stroke-width: 0px;
}


body2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: red;
    text-shadow: 2px 1px purple;
    font-size: 75%;
}
body3 {
    font-family:  "Arial Black", Gadget, sans-serif ;

    color: purple;
    font-size: 250%;
    text-emphasis-color: aqua;
    text-shadow: 5px 5px black;
}
#zodiac{
    background-image: url("https://theoriginalthread.files.wordpress.com/2014/01/chinese-paper-cutting-design-3.jpg");
}
button{
    width: 72px;
    color: #000000;
    -webkit-text-stroke-color: #ffc0cb;
    -webkit-text-stroke-width: 2px;
}
#name {
    color: #65cfe6;
    font-size: 20px;
    font-family: Comic Sans MS;

}
p {
    color: #000000;
    font-size: 25px;
    font-family: Comic Sans MS;

}

special {
    color: #000000;
    font-size: 25px;
    font-family: Comic Sans MS;
}